#main-window #sidebar-header {
  overflow: hidden;
}
#main-window[titlepreface*="[Sidebery] "] #sidebar-header {
  display: none;
}

#main-window #titlebar {
    overflow: hidden;
    transition: height 0.3s 0.3s !important;
}
#main-window #titlebar {
    height: 3em !important;
}
#main-window[uidensity="touch"] #titlebar {
    height: 3.35em !important;
}
#main-window[uidensity="compact"] #titlebar {
    height: 2.7em !important;
}
#main-window[titlepreface*="[Sidebery] "] #titlebar {
    height: 0 !important;
}
#main-window[titlepreface*="[Sidebery] "] #tabbrowser-tabs {
    z-index: 0 !important;
}
