#main-window[titlepreface*="[Sidebery] "] #sidebar-box{
  --uc-sidebar-width: 34px;
  --uc-sidebar-hover-width: 210px;
  --uc-autohide-sidebar-delay: 600ms;
  --uc-autohide-transition-duration: 115ms;
  --uc-autohide-transition-type: linear;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:1;
}

#main-window[titlepreface*="[Sidebery] "] #sidebar-box[positionend]{ direction: rtl }
#main-window[titlepreface*="[Sidebery] "] #sidebar-box[positionend] > *{ direction: ltr }

#main-window[titlepreface*="[Sidebery] "] #sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
#main-window[titlepreface*="[Sidebery] "] #sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

#main-window[titlepreface*="[Sidebery] "][sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 1px; }

#main-window[titlepreface*="[Sidebery] "] #sidebar-splitter{ display: none }

#main-window[titlepreface*="[Sidebery] "] #sidebar-header{
  display: none;
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
  padding-inline: 0 !important;
}

#main-window[titlepreface*="[Sidebery] "] #sidebar-header::before,
#main-window[titlepreface*="[Sidebery] "] #sidebar-header::after{
  content: "";
  display: flex;
  padding-left: 8px;
}

#main-window[titlepreface*="[Sidebery] "] #sidebar-header,
#main-window[titlepreface*="[Sidebery] "] #sidebar{
  transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}
#main-window[titlepreface*="[Sidebery] "] #sidebar-box:hover > #sidebar-header,
#main-window[titlepreface*="[Sidebery] "] #sidebar-box:hover > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

#main-window[titlepreface*="[Sidebery] "] .sidebar-panel{
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

#main-window[titlepreface*="[Sidebery] "] .sidebar-panel #search-box{
  -moz-appearance: none !important;
  background-color: rgba(249,249,250,0.1) !important; 
  color: inherit !important;
}

#main-window[titlepreface*="[Sidebery] "] #sidebar,
#main-window[titlepreface*="[Sidebery] "] #sidebar-header{
  background-color: inherit !important;
  border-inline: 1px solid rgb(80,80,80);
  border-inline-width: 0px 1px;
}

#main-window[titlepreface*="[Sidebery] "] #sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#main-window[titlepreface*="[Sidebery] "] #sidebar-box[positionend] > *{
  border-inline-width: 1px 0px;
}

#main-window[titlepreface*="[Sidebery] "] #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{
  inset-inline: auto 0px !important;
}
#main-window[titlepreface*="[Sidebery] "] #sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{
  margin-inline: 0px !important;
  border-left-style: solid !important; 
}
