:root:is([tabsintitlebar], [sizemode="fullscreen"]) {
  --uc-window-control-width: 24px;
  --uc-window-drag-space-pre: 3px;
  --uc-window-drag-space-post: 3px;
}

.titlebar-buttonbox, #window-controls{ color: var(--toolbar-color) }
:root[sizemode="fullscreen"] .titlebar-buttonbox-container{ display: none }
:root[sizemode="fullscreen"] #navigator-toolbox { position: relative; }

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{
  position: absolute;
  display: flex;
  top: 0;
  right:0;
  height: 40px;
}

:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[uidensity="compact"][sizemode="fullscreen"] #window-controls{ height: 32px }

#nav-bar{
  border-inline: var(--uc-window-drag-space-pre) transparent;
  border-inline-style: solid !important;
  border-right-width: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-post));
}
